main{
    display: flex;
    flex-direction: column;
    width: 64%;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 15px;
    flex: 6;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    flex: 1;
}

#auth_form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-bottom: 50px;
    flex: 6;
}

.formelem{
    flex: 1;
    margin-block: 15px;
    border-radius: 10px;
    font-size: x-large;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

input:focus::placeholder{
    opacity: 0;
}

#desc_p{
    padding-top: 30px;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 80%;
    text-align: center;
}
#abilities_p{
    flex: 5;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 80%;
    background-color: #FFE4AF;
    border-radius: 10px;
    margin: 5px;
    margin-inside: 10px;
    text-align: left;
}

.intext {
    background-color: #f8e5ff;
}

.formbut{
    font-size: xx-large;
    background-color: #FFE4AF;
    flex: 0 1 45%;
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
    height: 90%;
}

#register_but {
    background-color: #C8A9DC;
}

#auth_form div {
    display: flex;
    justify-content: space-between;
}

#enter {
    background-color: #FFE4AF;
}

body {
    background-color: #C8A9DC;
}