main{
    display: flex;
    flex-direction: column;
    width: 64%;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 15px;
    flex: 6;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    flex: 1;
}

#auth_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    flex: 4;
}

.formelem{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    font-size: x-large;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
}

input:focus::placeholder{
    opacity: 0;
}

input::-webkit-input-placeholder {
    color: black;
}

#desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#desc p{
    font-family: 'Montserrat', sans-serif;
    font-size:calc(15px + 1vh);
    width: 80%;
    text-align: center;
    font-style: italic;
}

#abilities {
    width: 100%;
    background-color: #FFE4AF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 5;
}

#abilities p{

    font-family: 'Montserrat', sans-serif;
    font-size:calc(15px + 1vw);
    width: 80%;
    font-style: italic;
    border-radius: 10px;
    margin: 5px;
    margin-inside: 10px;
    text-align: left;
    min-font-size: 10px;
}

.intext {
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    flex: 1;
    border-radius: 10px;
    font-size: calc(13px + 1.2vh);
    border-width: 2px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.formbut{
    font-size: calc(12px + 1.1vh);
    background-color: #FFE4AF;
    flex: 5;
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
    height: 90%;
}

.formbuts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 101%;
}

.formbuts div {
    flex: 1;
}

#register_but {
    background-color: #C8A9DC;
}

#enter {
    background-color: #FFE4AF;
}

body {
    background-color: #C8A9DC;
}

#main_logo {
    height: 12vh;
    width: auto;
    min-height: 95px;
    min-width: 81px;
}

h1{
    margin: 0;
}