
#main_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 70vh;
}


.term_cards {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    width: 80%;
    height: 83%;
}

.term_card {
    height: 100%;
    border-radius: 15px;
    border: 3px solid #60367A;

    display: flex;
    align-items: center;
    flex: 19;
    cursor: pointer;

    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

h2 {
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.term_card:focus,
.term_card:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 54, 122, 0.6);
}

.odd_term:active{
    background-color: rgb(236, 236, 236);
}

.even_term:active {
    background-color: rgb(229, 208, 242);
}

.even_term {
    background-color: #F6E8FF;
}

.odd_term {
    background-color: #FFFFFF;
}

.check_and_but {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    flex-shrink: 0;
    height: 9vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    min-height: 72px;
}

.toDelete{
    z-index: -1;
    opacity: 0;
}

.toDelete+label{
    display: none;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.toDelete+label::before{
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #FF2121;
    border-radius: 0.25em;
    margin-right: 1vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.toDelete+label:hover::before {
  background-color: #ff6b6b;
}

.toDelete:checked+label::before {
    border-color: #FF2121;
    background-color: #FF2121;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

h2 {
    margin-left: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#mod-cont-card-id {
    border: 3px solid #351C45;
    border-radius: 15px;
    min-height: 310px !important;
    min-width: 460px !important;
}

#exampleModalLabel {
    color: #351C45;
    font-size: calc(25px + 2vw);
    line-height: 1.1 !important;
}

#tipaTextArea{
    border: 2px solid #351C45 !important;
    border-radius: 0.25rem !important;
}

.modal-header {
    text-align: center;
}

.my-mod-footer button {
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    border-radius: 7px;
}

.approve2 {
    flex-shrink: 0 !important;
    width: 30%  !important;
}

.cancel2 {
    flex-shrink: 0 !important;
    width: 30%  !important;
}

.input-group-text {
    padding-left: 0 !important;
    background-color: transparent;
    border: 0;
    border-radius: 2px !important;
}

.card_description {
    background-color: #FFFFFF;
    min-height: 45vh !important;
    font-size: calc(10px + 1.5vh);
    margin-left: 0 !important;
}

@media (max-height: 801px){
    #main_cards {
        height: 560px;
    }
}