header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: 2;
}

main{
    width: 100%;
    flex: 7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#main_groups {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    flex: 10;
    height: 100%;
}

.groups_cards {
    display: flex;
    flex-direction: row;
    flex: 5;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.group_card {
    display: flex;
    flex-direction: column;
    height: 75%;
    flex: 1;
    align-items: center;
}

.group_card button{
    flex: 4;
    border-radius: 12px;
    border-width: 0;
}

.card_main {
    width: 66%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    flex: 1;
}

.middle_div{
    flex: 3;
}

.group_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex: 1;
    margin-bottom: 1%;
}

#edit {
    background-color: #FFE4AF;
    font-size: calc(20px + 1vh);
}

#create {
    background-color: #EF9452;
    color: #FFFFFF;
    font-size: calc(18px + 1vh);
}

#exit {
    font-size: calc(18px + 1vh);
    background-color: #C8A9DC;
    border-width: 0;
    height: 40%;
    border-radius: 8px;
    padding: 0 2%;
}

#page_name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 2cm;
    color: #351C45;
    padding-left: 10px;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.group_buttons button {
    font-size: xx-large;
    flex: 5;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    height: 50%;
}

.group_buttons div {
    flex: 2;
}

.odd_card {
    background-color: #FFE4AF;
}

.even_card {
    background-color: #C8A9DC;
}

.delete_card {
    background-color: #FFCE6D;
}

.test_card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351C45;
}

.card_but {
    flex: 5;
    border-radius: 12px;
    border-width: 0;
}

#logo {
    background-color: #C8A9DC;
    border-radius: 50%;
}

.switcher {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 10%;
}

.switch_groups {
    border-radius: 50%;
    border-width: 0;
    background-color: #351C45;
    color: #FFFFFF;
    font-size: calc(25px + 1.8vh);
}