header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: 2;
}

.pseudo_main {
    flex-shrink: 0;
    width: 84% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#carouselWithCards {
    width: 100%;
    flex: 5 !important;
    flex-shrink: 0;
}

.carousel-inner {
    height: 100% !important;
}


main{
    width: 100%;
    flex: 7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#content {
    display: flex;
    flex: 5;
    width: 100%;
}

#main_groups {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    flex: 10;
    height: 100%;
}

.groups_cards {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.group_card {
    display: flex;
    flex-direction: column;
    height: 75%;
    flex-shrink: 0;
    width: 100% !important;
    max-width: 100% !important;
    align-items: center;
}

.group_card button{
    flex: 4;
    border-radius: 12px;
    border-width: 0;
}

.group_card_container{
    flex-shrink: 0;
    width: 25% !important;
    max-width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.div_card_main {
    flex: 18;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card_main {
    width: 66% !important;
    max-width: 66% !important;
    margin-bottom: 7%;
    flex-shrink: 0 !important;
    height: 100%;
}

.cardMainSpan {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1em + 0.5vw);
}

.relative_inside_group {
    position: relative;
    height: 100%;
    width: 100%;
}

.div_share {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.3rem;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    flex: 4;
}

.middle_div{
    flex: 1;
}

.group_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex: 1;
    margin-bottom: 1%;
}

#edit {
    background-color: #FFE4AF;
    font-size: calc(18px + 1vh);
}

#create {
    background-color: #EF9452;
    color: #FFFFFF;
    font-size: calc(18px + 1vh);
}

#create:focus,
#create:hover {
    outline: 2px solid #EF9452;
    box-shadow:0 0 2rem rgba(239, 148, 82, 0.6);
}

#create:active {
    background-color: rgb(229, 133, 64);
    outline-color: rgb(229, 133, 64);
}

#exit {
    font-size: calc(18px + 1vh);
    background-color: #C8A9DC;
    border-width: 0;
    height: 40%;
    border-radius: 8px;
    padding: 0 2%;
    font-family: 'Nunito', sans-serif;
}

#page_name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-size: 2cm;
    color: #351C45;
    padding-left: 10px;
    text-decoration: underline;
    text-underline-offset: 12px;
    max-width: 70% !important;

}

.group_buttons button {
    flex: 5;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Nunito', sans-serif;
    height: 50%;
}

.group_buttons div {
    flex: 2;
}

.odd_card {
    background-color: #FFE4AF;
}

.even_card {
    background-color: #C8A9DC;
}

.delete_card {
    background-color: #FFCE6D;
    border-radius: 12px;
    flex-shrink: 0;
    width: calc(7vh*1.3);
    height: 6vh;
    min-width: 74px;
    max-width: 50%;
    color: #FFFFFF;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.05em;
}

.delete_card:focus,
.delete_card:hover {
    outline: 2px solid #FFCE6D;
    box-shadow:0 0 2rem rgba(255, 206, 109, 0.6);
}

.test_card {
    background-color: #351C45;
    border-radius: 50%;
    flex-shrink: 0;
    width: 6vh;
    min-width: 59px;
    height: 6vh;
    font-size: 2rem;
    padding-left: 0.12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_but {
    border-width: 0;
    cursor: pointer;
}

.switcher {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 8% !important;
    margin-bottom: 10%;
}

.switch_groups {
    position: unset !important;
    border-radius: 50%;
    border-width: 0;
    background-color: #351C45 !important;
    font-size: 2.5em;
    width: 8vh;
    flex-shrink: 0;
    height: 8vh;
    min-width: 58px;
    min-height: 58px;
    padding-left: 0.2em;
    opacity: 1 !important;
}

.switch_groups:hover,
.switch_groups:focus,
.test_card:hover,
.test_card:focus{
    outline: 2px solid #351C45;
    box-shadow: 0 0 2rem rgba(53, 28, 69, 0.6);
}

#left_but {
    transform: scaleX(-1);
}

#logo {
    height: 15vh;
    width: auto;
    min-height: 95px;
    min-width: 81px;
}

.modal-content {
    background-color: #C8A9DC;
}

.modal-content label {
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    border: 2px solid #351C45 !important;
}

.form-control:focus {
    border: 2px solid #351C45;
    box-shadow:0 0 8px rgba(53, 28, 69, 0.6);
}

.modal-title {
    font-family: 'Montserrat Alternates', sans-serif !important;
    text-align: center;
}

.modal-footer {
    padding-top: 0 !important;
}

.modal-body {
    padding-top: 0 !important;
}

.modal-footer button {
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    border-radius: 7px;
}

.but_inside_approve {
    flex-shrink: 0;
    width: 35%;
}

.mod-cont-id {
    height: 35vh !important;
    width: 45vw !important;
    border: 3px solid #351C45;
    border-radius: 15px;
    min-height: 310px;
    min-width: 460px;
}

.modal-content div {
    border: 0 !important;
}

.modal-body form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancel, #searchBut {
    background-color: #60367A;
    outline: 0;
}

.cancel:focus,
.cancel:hover,
#searchBut:focus,
#searchBut:hover{
    color: #FFFFFF;
    outline: 2px solid #60367A;
    box-shadow:0 0 8px rgba(96, 54, 122, 0.6);
}

#searchBut:active {
    background-color: rgb(80, 40, 105);
    outline: 0;
}

#searchBut{
    position: fixed;
    right: 8%;
    bottom: 15%;
    border-radius: 50%;
    border: 0;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.5rem;
}

.approve {
    background-color: #FFCE6D !important;
}

.approve:hover,
.approve:focus {
    color: #FFFFFF;
    outline: 2px solid #FFCE6D;
    box-shadow:0 0 8px rgba(255, 206, 109, 0.6);
}

.approve:active{
    background-color: rgb(235, 184, 82);
    outline-color: rgb(235, 184, 82);
}

#cross_exit:focus {
    outline: none;
    box-shadow:0 0 8px rgba(50, 50, 50, 0.6);
}

.even_card:hover,
.even_card:focus,
#exit:hover,
#exit:focus{
    outline: 2px solid #C8A9DC;
    box-shadow:0 0 2rem rgba(200, 169, 220, 0.6);
}

.odd_card:hover,
.odd_card:focus,
#edit:focus,
#edit:hover{
    outline: 2px solid #FFE4AF;
    box-shadow: 0 0 2rem rgba(255, 228, 175, 0.6);
}

.odd_card:active,
#edit:active {
    background-color: rgb(247, 214, 148);
    outline-color: rgb(247, 214, 148);
}

.even_card:active,
#exit:active {
    background-color: rgb(188, 150, 214);
    outline-color: rgb(188, 150, 214);
}

.car_ind {
    background-color: #351C45 !important;
}

@media (max-width: 1201px){
    .test_card {
        width: 59px !important;
        height: 59px !important;
    }

    .delete_card {
        height: 59px !important;
        width: 74px !important;
    }
}
@media (max-height: 800px){
    .test_card {
        width: 59px !important;
        height: 59px !important;
    }

    .delete_card {
        height: 59px !important;
        width: 74px !important;
    }
}