body {
    background: #F6E8FF !important;
    min-width: 1000px !important;
}

.header {
    flex: 2;
}

main {
    flex: 7;
    width: 60%;
    background-color: #FFFFFF !important;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#inside_main {
    position: relative;
    flex: 1;
    width: 100%;
}

.yellow_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFE4AF;
    width: 60%;
    flex: 4;
    margin-top: 5%;
    border-radius: 10px;
    cursor: pointer;
}

#term_of_card {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    width: 80%;
}

.yes_no_buts {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn {
    padding: 0 !important;
}

.btn-danger:hover,
.btn-danger:focus {
    border: 0 !important;
    outline: 2px solid #dc3545 !important;
    background-color: #dc3545 !important;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.8) !important;
}

.btn-danger:active {
    border: 0 !important;
    background-color: #c71e2f !important;
}

.btn-success:hover,
.btn-success:focus {
    border: 0 !important;
    outline: 2px solid #198754 !important;
    background-color: #198754 !important;
    box-shadow: 0 0 10px rgba(25, 135, 84, 0.8) !important;
}

.btn-success:active {
    border: 0 !important;
    background-color: #117848 !important;
}

#end_text {
    color: #351C45;
    width: 80%;
    text-align: center;
    font-size: 2.2rem !important;
}

#test_stats {
    color: #351C45;
    width: 100%;
}

#replay_inside_me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex: 1;
}

#but_replay {
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #60367A;
    height: 50%;
    outline: 0;
    border: 0;
}

#but_replay:focus,
#but_replay:hover {
    outline: 2px solid #60367A;
    box-shadow:0 0 8px rgba(96, 54, 122, 0.6);
}

#but_replay:active {
    background-color: rgb(80, 40, 105);
    outline-color: rgb(80, 40, 105);
}

#show_description {
    position: absolute;
    top: 10%;
    right: 5%;

    height: 2em;
    width: 2em;
    background-color: #351C45;
    border-radius: 50%;
    outline: 0;
    border: 0;
}

#show_description:hover,
#show_description:focus {
    outline: 2px solid #351C45;
    box-shadow: 0 0 2rem rgba(53, 28, 69, 0.6);
}

#show_description:active {
    outline: 0;
}

.test_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#cross_exit:focus {
    outline: none;
    box-shadow:0 0 8px rgba(50, 50, 50, 0.6);
}

@media (max-width: 1500px){
    #term_of_card {
        width: 100%;
    }
}

