body {
    background: #F6E8FF !important;
    min-width: 1000px !important;
}

.header {
    flex: 2;
}

main {
    flex: 7;
    width: 60%;
    background-color: #FFFFFF !important;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#inside_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    width: 100%;
}

.yellow_div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE4AF;
    width: 60%;
    flex: 4;
    margin-top: 5%;
    border-radius: 10px;
    cursor: pointer;
}

#term_of_card {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    width: 80%;
}

.yes_no_buts {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn {
    padding: 0 !important;
}

.btn-danger:hover,
.btn-danger:focus {
    border: 0 !important;
    outline: 2px solid #dc3545 !important;
    background-color: #dc3545 !important;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.8) !important;
}

.btn-danger:active {
    border: 0 !important;
    background-color: #c71e2f !important;
}

.btn-success:hover,
.btn-success:focus {
    border: 0 !important;
    outline: 2px solid #198754 !important;
    background-color: #198754 !important;
    box-shadow: 0 0 10px rgba(25, 135, 84, 0.8) !important;
}

.btn-success:active {
    border: 0 !important;
    background-color: #117848 !important;
}

@media (max-width: 1500px){
    #term_of_card {
        width: 100%;
    }
}

