<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content align-items-center mod-cont-id">
          <div class="modal-header d-flex justify-content-center mt-3">
            <h5 class="modal-title fs-3" id="approveLabel">Вы уверены, что хотите удалить группу?</h5>
          </div>
          <div class="modal-body d-flex justify-content-center align-content-center w-100 mb-3">
          </div>
          <div class="modal-footer w-75 d-flex justify-content-between align-items-center mb-5">
            <button type="button" class="btn me-3 fs-4 but_inside_approve cancel" data-bs-dismiss="modal">Нет</button>
            <button type="button" class="btn ms-3 fs-4 but_inside_approve approve" data-bs-dismiss="modal">Да</button>
          </div>
        </div>
    </div>
</div>