<main>
    <div id="main_cards">
        <div class="term_cards">
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="1"><label for="1"></label> <div class="term_card odd_term"> <h2>Первый</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="2"><label for="2"></label> <div class="term_card even_term"> <h2>Второй</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="3"><label for="3"></label> <div class="term_card odd_term"> <h2>Третий</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="4"><label for="4"></label> <div class="term_card even_term"> <h2>Четвёртый</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="5"><label for="5"></label> <div class="term_card odd_term"> <h2>Пятый</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="6"><label for="6"></label> <div class="term_card even_term"> <h2>Шестой</h2> </div> </div>
            <div class="check_and_but"> <input type="checkbox" class="toDelete" id="7"><label for="7"></label> <div class="term_card odd_term"> <h2>Седьмой</h2> </div> </div>
        </div>
    {% include 'create-edit-buttons.html' %}
    </div>
</main>