<main>
    <div id="main_cards">
        <div class="term_cards" id="cards_container">
            <div class="check_and_but" id="card_id_1"> <input type="checkbox" class="toDelete" id="1"><label for="1" class="check_label"></label> <div class="term_card odd_term"> <h2>Первый</h2> </div> </div>
            <div class="check_and_but" id="card_id_2"> <input type="checkbox" class="toDelete" id="2"><label for="2" class="check_label"></label> <div class="term_card even_term"> <h2>Второй</h2> </div> </div>
            <div class="check_and_but" id="card_id_3"> <input type="checkbox" class="toDelete" id="3"><label for="3" class="check_label"></label> <div class="term_card odd_term"> <h2>Третий</h2> </div> </div>
            <div class="check_and_but" id="card_id_4"> <input type="checkbox" class="toDelete" id="4"><label for="4" class="check_label"></label> <div class="term_card even_term"> <h2>Четвёртый</h2> </div> </div>
            <div class="check_and_but" id="card_id_5"> <input type="checkbox" class="toDelete" id="5"><label for="5" class="check_label"></label> <div class="term_card odd_term"> <h2>Пятый</h2> </div> </div>
            <div class="check_and_but" id="card_id_6"> <input type="checkbox" class="toDelete" id="6"><label for="6" class="check_label"></label> <div class="term_card even_term"> <h2>Шестой</h2> </div> </div>
            <div class="check_and_but" id="card_id_7"> <input type="checkbox" class="toDelete" id="7"><label for="7" class="check_label"></label> <div class="term_card odd_term"> <h2>Седьмой</h2> </div> </div>
        </div>
    {% include 'create-edit-buttons.html' %}
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content align-items-center" id="mod-cont-card-id">
                  <div class="modal-header d-flex justify-content-center mt-3">
                    <h5 class="modal-title fs-2" id="exampleModalLabel">Создать новую карточку</h5>
                  </div>
                  <div class="modal-body d-flex justify-content-center align-content-center w-100 mb-3">
                    <form>
                      <div class=" w-75">
                          <label for="front-card" class="col-form-label text-white fs-4">Слово/Вопрос</label>
                          <input type="text" class="form-control mb-3 fs-4" id="front-card">
                          <label for="back-card" class="col-form-label text-white fs-4">Значение/Ответ</label>
                          <input type="text" class="form-control fs-4" id="back-card">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer w-75 d-flex flex- justify-content-between align-items-center mb-5">
                    <button type="button" class="btn me-3 fs-4 cancel" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn ms-3 fs-4 approve" onclick="createNewCard()" data-bs-dismiss="modal">Создать</button>
                  </div>
                </div>
            </div>
        </div>
</main>