<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Botan or baton?</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <div id="header">
        <img src="resources/bread.png" alt="bread" height="64" width="64"><b><h1> Botan</h1></b>
    </div>
    <div>
        <div><h2 id="groups_h2" class="body_header">Группы</h2></div>
        <div>
            <ul>
                <li>Английские слова</li>
                <li>Вопросы по сетям</li>
                <li>Алгоритмы по дискретке</li>
            </ul>
        </div>


    </div>
</body>
</html>