
<main>
    <div class="switcher"><button class="switch_groups" id="left_but"></button></div>
    <div id="main_groups">
        <div class="groups_cards">
            <div class="group_card">
                <div class="div_card_main"><button class="card_main odd_card" onclick="main_cards()"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"></div>
                    <div class="test_card card_but"></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main even_card" onclick="main_cards()"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"></div>
                    <div class="test_card card_but"></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main odd_card" onclick="main_cards()"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"></div>
                    <div class="test_card card_but"></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main even_card" onclick="main_cards()"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"></div>
                    <div class="test_card card_but"></div>
                </div>
            </div>
        </div>
        {% include 'create-edit-buttons.html' %}
    </div>
    <div class="switcher"><button class="switch_groups" id="right_but"></button></div>
</main>
