<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Botan or baton?</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/groups_styles.css">
    {% if path|string() == 'cards' %}
        <link rel="stylesheet" type="text/css" href="/static/styles/cards_styles.css">
    {% elif path|string() == 'test' %}
        <link rel="stylesheet" type="text/css" href="/static/styles/testing_styles.css">
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat+Alternates&family=Nunito:wght@700&family=Open+Sans&family=Tenor+Sans&display=swap" rel="stylesheet">

    <script src="/static/scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% if path|string() == 'cards' %}
        <script src="/static/scripts/cards_functions.js"></script>
    {% elif path|string() == 'test' %}
        <script src="/static/scripts/testing_funcs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    {% elif path|string() == 'groups' %}
        <script src="/static/scripts/groups_funcs.js"></script>
    {% endif %}
    <script src="/static/scripts/inside_defolt.js"></script>

</head>