<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/resources/bread.png" type="image/png">
    <meta charset="UTF-8">
    <title>Botan or baton?</title>
    <link rel="stylesheet" href="/static/styles/auth_styles.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat+Alternates&family=Nunito:wght@700&family=Open+Sans&family=Tenor+Sans&display=swap" rel="stylesheet">

    <link href="/static/styles/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <script src="/static/scripts/auth.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css">
</head>
<body id="main_body">
    <div id="loadOverlay" style="background-color:#C8A9DC; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
    <header>
        <img src="/static/resources/bread.png" onclick="" alt="bread_logo" id="main_logo"><h1 id="logo_h1"> BOtan</h1>
    </header>
    <main id="main">
        <div id="desc">
            <p >
                Данный сервис поможет вам изучать, зубрить, запоминать,
                просто-ботать ваши любимые предметы и темы
            </p>
        </div>

        <div id="abilities">
            <p>
                Данный сайт позволит вам: <br>
                Создавать/редактировать/удалять группы и карточки <br>
                Проходить тестирования по вашим темам <br>
                Импортировать и экспортировать темы <br>
                И дальше больше :)
            </p>
        </div>

        <div class="my-3" id="div_register">Регестрация</div>

        <form method="POST" id="auth_form" action="/token">
            <input type="text" name="username" class="intext mt-2" placeholder=" Login" maxlength="50" id="login_input"/>
            <input type="password" name="password" class="intext mt-2" aria-valuetext="Password" maxlength="50" placeholder=" Password" id="pass_input"/>
            <input type="password" class="intext mt-2" placeholder=" Confirm password" maxlength="50" id="confirm_pass">
            <div class="formbuts">
                <input type="submit" value="Войти" class="formbut" formaction="/token" id="enter"/>
                <input formaction="/register" type="submit" value="Регистрация" class="formbut" id="register_but" />
                <button class="formbut" id="pseudo_register">Регистрация</button>
            </div>

        </form>
    </main>
    <footer>
        <p>&#169; Alexey Dolgikh 2022</p>
    </footer>
</body>
</html>