<div class="modal fade" id="findCardsModal" tabindex="-1" role="dialog" aria-labelledby="findCardsLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content align-items-center mod-cont-id">
          <div class="modal-header d-flex justify-content-center mt-3">
            <h5 class="modal-title fs-3" id="findCardsLabel">Найти карточки</h5>
          </div>
          <div class="modal-body d-flex justify-content-center align-content-center w-100 mb-3">
            <form>
              <div class=" w-75">
                <label for="search_input" class="col-form-label text-white fs-4">Ключевые слова</label>
                <input type="text" class="form-control fs-4 search_input" id="search_input" maxlength="80">
              </div>
            </form>
          </div>
          <div class="modal-footer w-75 d-flex justify-content-between align-items-center mb-5">
            <button type="button" class="btn me-3 fs-4 cancel" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn ms-3 fs-4 approve" data-bs-dismiss="modal">Поиск</button>
          </div>
        </div>
    </div>
</div>