<div id="main_groups">
        <div class="groups_cards">
            <div class="group_card">
                <div class="div_card_main"><button class="card_main odd_card" onclick="main_cards()" data-bs-target="#changeGroup"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"><i class="bi bi-x-lg"></i></div>
                    <div class="test_card card_but text-white" onclick="start_test()"><i class="bi bi-play-fill"></i></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main even_card" onclick="main_cards()" data-bs-target="#changeGroup"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"><i class="bi bi-x-lg"></i></div>
                    <div class="test_card card_but text-white" onclick="start_test()"><i class="bi bi-play-fill"></i></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main odd_card" onclick="main_cards()" data-bs-target="#changeGroup"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"><i class="bi bi-x-lg"></i></div>
                    <div class="test_card card_but text-white" onclick="start_test()"><i class="bi bi-play-fill"></i></div>
                </div>
            </div>
            <div class="group_card">
                <div class="div_card_main"><button class="card_main even_card" onclick="main_cards()" data-bs-target="#changeGroup"></button></div>
                <div class="card_buttons">
                    <div class="delete_card card_but"><i class="bi bi-x-lg"></i></div>
                    <div class="test_card card_but text-white" onclick="start_test()"><i class="bi bi-play-fill"></i></div>
                </div>
            </div>
        </div>
